name: 'project release'
on:
  push:
    branches:
      - main

jobs:
  get_branchname:
    runs-on: ubuntu-latest

    outputs:
      target: ${{ steps.branch-version.outputs._0 }}
      version: ${{ steps.branch-version.outputs._1 }}

    steps:
      - name: Get current branch name
        id: branch-name
        uses: tj-actions/branch-names@v5.5

      - name: get release info
        id: release-info
        uses: xom9ikk/split@v1
        with:
          string: ${{ steps.branch-name.outputs.current_branch }}
          separator: '/'
          limit: -1

  package_bump:
    runs-on: ubuntu-latest
    needs: get_branchname

    outputs:
      target: ${{ steps.target_string.outputs.uppercase }}

    steps:
      - name: Checkout main
        uses: actions/checkout@v2
        with:
          ref: main

      - name: Use target apps string uppercase
        id: target_string
        uses: ASzc/change-string-case-action@v2
        with:
          string: ${{ jobs.needs.get_branchname.outputs.target }}

      - name: Gets semantic release info
        id: semantic_release_info
        uses: jossef/action-semantic-release-info@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Cat package.json
        working-directory: ./apps/${{ jobs.needs.get_branchname.outputs.target }}
        run:
          cat ./package.json

      - name: 'setup nodejs'
        uses: actions/setup-node@v1
        with:
          node-version: 14

      - name: package.json version update
        uses: jossef/action-set-json-field@v2
        with:
          file: ./apps/${{ jobs.needs.get_branchname.outputs.target }}
          field: version
          value: ${{ jobs.needs.get_branchname.outputs.version }}

      - name: commit files
        run: |
          git config --local user.email "rootuser@hanseungyoo.com"
          git config --local user.name "root user"
          git commit -m ":rocket: My APP ${{ jobs.needs.get_branchname.outputs.target }} release v${{ jobs.needs.get_branchname.outputs.version }}"
          
      - name: changes push
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ github.token }}
          branch: 'main'

      - name: Create github release
        if: github.event.pull_request.merged == true
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          tag_name: ${{ jobs.needs.get_branchname.outputs.target }}/v${{jobs.needs.get_branchname.outputs.version}}
          release_name: ${{ steps.target_string.outputs.uppercase }} - v${{jobs.needs.get_branchname.outputs.version}}
          body: ${{ steps.semantic_release_info.outputs.notes }}
          draft: false
          prerelease: false

  release_branch_merge:
    runs-on: ubuntu-latest
    needs: package_bump
    steps:
      - name: Merge ${{ jobs.needs.package_bump.outputs.target }} branch release
        uses: devmasx/merge-branch@master
        with:
          type: now
          from_branch: develop
          target_branch: qa
          github_token: ${{ github.token }}



      







      

      