name: 'project release'
on:
  pull_request_target:
    types:
      - closed
    branches:
      - main
jobs:
  get_branchname:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    outputs:
      branch: ${{ steps.branch-name.outputs.current_branch }}
      target: ${{ steps.release-info.outputs._0 }}
      version: ${{ steps.release-info.outputs._1 }}

    steps:
      - name: Get current branch name
        id: branch-name
        uses: tj-actions/branch-names@v5.5

      - name: get release info
        id: release-info
        uses: xom9ikk/split@v1
        with:
          string: ${{ steps.branch-name.outputs.head_ref_branch }}
          separator: '/'
          limit: -1

  package_bump:
    runs-on: ubuntu-latest
    needs: get_branchname

    outputs:
      target: ${{ steps.target_string.outputs.uppercase }}

    steps:
      - name: Checkout main
        uses: actions/checkout@v2
        with:
          ref: main

      - name: Use target apps string uppercase
        id: target_string
        uses: ASzc/change-string-case-action@v2
        with:
          string: ${{ needs.get_branchname.outputs.target }}

      - name: 'setup nodejs'
        uses: actions/setup-node@v1
        with:
          node-version: 14

      - name: package.json version update
        uses: jossef/action-set-json-field@v2
        with:
          file: apps/${{ needs.get_branchname.outputs.target }}/package.json
          field: version
          value: ${{ needs.get_branchname.outputs.version }}

      - name: commit files
        run: |
          git config --local user.email "rootuser@hanseungyoo.com"
          git config --local user.name "root user"
          git add .
          git commit -m ":rocket: My APP ${{ needs.get_branchname.outputs.target }} release v${{ needs.get_branchname.outputs.version }}"
          git tag 
          
      - name: changes push
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ github.token }}
          branch: main

      # - uses: actions-ecosystem/action-push-tag@v1
      #   with:
      #     tag: ${{ needs.get_branchname.outputs.target }}/v${{needs.get_branchname.outputs.version }}
      #     message: ":rocket: My APP ${{ needs.get_branchname.outputs.target }} release v${{ needs.get_branchname.outputs.version }}"

      - name: Create github release
        # if: github.event.pull_request.merged == true
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          tag_name: "${{ needs.get_branchname.outputs.target }}/v${{needs.get_branchname.outputs.version}}"
          release_name: "${{ steps.target_string.outputs.uppercase }} - v${{needs.get_branchname.outputs.version}}"
          draft: false
          prerelease: false

  release_branch_merge:
    runs-on: ubuntu-latest
    needs: package_bump
    steps:
      - name: Merge ${{ needs.package_bump.outputs.target }} branch release
        uses: devmasx/merge-branch@master
        with:
          type: now
          from_branch: ${{ needs.get_branchname.outputs.branch }}
          target_branch: release/${{ needs.get_branchname.outputs.target }}
          github_token: ${{ github.token }}



      







      

      